<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update & Delete</title>
</head>
<body>
<h1>Update </h1>
<form th:action="@{/user/update}" th:object="${user}" method="get">
    <input type="hidden" th:field="*{userId}"/>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required/>
    </div>
    <div>
        <select th:field="*{role}">
            <option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
        </select>
    </div>
    <button type="submit">Update</button>
</body>
</html>
